

div.matrix {
    display: grid;
    justify-items: stretch;
}

.emojibutton {
    width: 100%;
    height: 5rem;
    background-color: white;
    font-size: 2.5rem;

    &.pressed {
        background-color: green;
    }
}


.generate-grid(30);

.generate-grid(@n, @i: 1) when (@i =< @n) {
    .row-@{i} {
        grid-row: @i;
    }
    .col-@{i} {
        grid-column: @i;
    }
    .generate-grid(@n, (@i + 1));
}
