

div.matrix {
    display: grid;
    justify-items: stretch;
}

.emojibutton {
    width: 100%;
    height: 5rem;
    background-color: white;
    font-size: 2.5rem;
    cursor: pointer;

    &:hover {
        background-color: lightblue;
    }

    &.pressed {
        background-color: green;
    }
}


.generate-grid(30);

.generate-grid(@n, @i: 0) when (@i =< @n) {
    .row-@{i} {
        grid-row: (@i+1);
    }
    .col-@{i} {
        grid-column: (@i+1);
    }
    .generate-grid(@n, (@i + 1));
}
